= render "memos/header"
.show-memo-body
  .show-memo-main
    .show-memo-main__title
      詳細ページ（長期的な予定）
    .show-form
      .show-form__timebox
        .show-form__timebox__letter
          期　限　：
        .show-form__timebox__time
          = @dmemo.deadline
      .show-form__commentbox
        .show-form__commentbox__letter        
          行う事　：
        .show-form__commentbox__comment
          = @dmemo.comment 
      .show-form__submit
        =link_to '編集',edit_dmemo_path,class: 'show-form__submit__link'