@mixin new-btn() {
  text-decoration: none;
  color: black;
  background-color: rgb(118, 218, 255);
  filter: drop-shadow(1px 1px 1px rgba(60,60,60,5));
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: solid 1px rgb(0, 0, 0);
  font-size: 14px;
  width: 70px;
}
@mixin btn() {
  text-decoration: none;
  background-color: rgb(235, 235, 235);
  filter: drop-shadow(1px 1px 1px rgba(60,60,60,5));
  border-radius: 3px;
  width: 35px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: solid 1px rgb(0, 0, 0);
  font-size: 13px;
  color: black;
}

.main{
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top:30px;
  &__routing-ber{
    margin-right: 20px;
    width: 370px;
    &__letter-link{
      display: flex;
      justify-content: center;
      padding-bottom: 5px;
      &__letter{
        padding-right: 10px;
        font-size: 17px;
        font-weight: 600;
      }
      .routing-new{
        @include new-btn() 
      }
    }
    &__boxtop{
      padding:10px;
      background-color: white;
      margin-bottom: 10px;
    }
    &__box{
      width: 100%;
      background-color: rgb(40, 40, 40);
      padding:10px 10px 8px 10px;
      color: white;
      &__time-todo{
        padding-bottom:15px;
        &__time{
        }
        &__todo{
        }
      }
      &__edit-delete{
        display: flex;
        justify-content: center;
        &__detailbtn{    
          .routing-detail{
            @include btn();
            margin-right: 25px;
            width: 45px;
          }
        }
        &__editbtn{
          .routing-edit{
            @include btn();
            margin-right: 25px;
            width: 45px;
          }
        }
        &__deletebtn {
          .routing-delete{
            @include btn();
            width: 45px;
          }
        }
        &__delete{
        }
      }
    }
  }


  &__month-day{
    display: flex;
    &__month-ber{
    margin-right: 20px;
    width: 520px;
      &__letter-link{
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        &__letter{
          padding-right: 10px;
          font-size: 17px;
          font-weight: 600;
        }
        .month-new{
          @include new-btn() 
        }
      }
      &__boxtop{
        padding:10px;
        background-color: white;
        margin-bottom: 10px;
      }
      &__box{
        width: 100%;
        background-color:rgb(130, 130, 130);
        padding:10px 10px 8px 10px;
        // margin-bottom: 10px;
        color: white;
        // border: solid 1px black;
        &__detailbtn-todo{
          padding-bottom:15px;
          &__detailbtn{
          }
          &__todo{
          }
        }
        &__edit-delete{
          display: flex;
          justify-content: center;
          &__detailbtn{
            text-decoration: none;
            .month-detail{
              @include btn();
              margin-right: 25px;
              width: 45px;   
            }
          }
          &__editbtn{
            text-decoration: none;
            .month-edit{
              @include btn();
              margin-right: 25px;
              width: 45px;
            }
          }
          &__deletebtn{
            text-decoration: none;
            .month-delete{
              @include btn();
              width: 45px;
            }
          }
        }
      }
    }

    &__today-ber{
      &__letter-link{
        width: 520px;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        &__letter{
          padding-right: 10px;
          font-size: 17px;
          font-weight: 600;
        }
        .today-new{
          @include new-btn();
        }
      }
      &__boxtop{
        padding:10px;
        background-color: white;
        margin-bottom: 10px;
      }
      &__box{
        width: 100%;
        background-color:rgb(130, 130, 130);
        padding:10px 10px 7px 10px;
        // margin-bottom: 10px;
        color: white;
        &__detailbtn-todo{
          padding-bottom:15px;
          &__detailbtn{
          }
          &__todo{
          }
        }
        &__edit-delete{
          display: flex;
          justify-content: center;
          &__detailbtn{
            text-decoration: none;
            .today-detail{
              @include btn();
              margin-right: 25px;
              width: 45px;   
            }
          }
          &__editbtn{
            text-decoration: none;
            .today-edit{
              @include btn();
              margin-right: 25px;
              width: 45px;
            }
          }
          &__deletebtn{
            text-decoration: none;
            .today-delete{
              @include btn();
              width: 45px;
            }
          }
        }
      }
    }
  }
}