.notification{
  .notice{
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
  }
  .alert{
    background-color: #F35500;
    color: #fff;
    text-align: center;
  }
  .memo{
    background-color: yellow;
    color: black;
    text-align: center;

  }
}