
= render "header"
.new-memo-body
  .new-memo-main
    .new-memo-main__title
      新規登録（日々のルーティング）
    =form_with model: @memo, class:"new-form" ,local: true do |r|
      =r.text_field :deadline, class:"new-form__deadline", placeholder:"  期限"
      =r.text_field :time, class:"new-form__time",placeholder:"  開始時間"
      =r.text_area :comment, class:"new-form__comment", placeholder:"  行う事"
      =r.submit "投稿する",class:"new-form__submit"

=@memo.deadline
=@memo.time
=@memo.comment